body{
    background-image: url(assets/background.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav{
    
    /*width: 150vh;*/
   
    /*margin-left: 500px;*/
    margin-top: -40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

.nav-link{
    color: white;
}
.nav-link:hover {
    color: #88BC47;
  }
  
  .nav-link.active {
    border-bottom: 2px solid #88BC47;;
    color: white;
  }

.nav-item2{
    margin-left: 100px;
}

.nav-item3{
    margin-left: 80px;
}

.nav-item4 h1{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 950px;

}

.nav-item5{
    margin-left: 1120px;
    margin-top: -40px;
}

.nav-item6{
    margin-left: 1105px;
    margin-top: -50px;
}
  
.Thelogo{
    margin-top: 90px;
    margin-left: 600px;
}
  

.logos{
    
  
}

.logo2{
    
   
}
.logo3{
   margin-top: -80px;
   
}

.heading{
    height:auto;
    width: 200px;
    margin-left: 690px;
    margin-top: -100px;
    color: white;
    align-items: center;
}

.shadow{
    width: 285px;
    height: 163px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(45px);
    margin-top: 100px;
    margin-left: 50px;
}

.card{
    width: 390px;
    height: 230px;
   background-image: url(assets/African\ bank\ bank\ card.png);
   background-position: center;
   background-size: cover;
   background-color: transparent;
   border: none;
   margin-top: -250px;
   margin-left: -40px;
}

.actions h1{
    font-size: 30px;
    margin-top: -340px;
    margin-left: 450px;
    color: white;

}

.transactions{
    margin-left: 460px;
    margin-top: 27px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.payment{
    margin-left: 680px;
    margin-top: -180px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.that{
    width: 300px;
    height: 2px;
    background-color: white;
    margin-left: 450px;
    margin-top: -150px;
}

.that2{
    width: 300px;
    height: 2px;
    background-color: white;
    margin-left: 450px;
    margin-top: 45px;
}

.that3{
    width: 300px;
    height: 2px;
    background-color: white;
    margin-left: 450px;
    margin-top: 40px;
}

.that4{
    width: 300px;
    height: 2px;
    background-color: white;
    margin-left: 450px;
    margin-top: 50px;
}



.box {
    width: 700px;
    height: 360px; /* Allow the height to adjust based on content */
    background-image: url(assets/green\ block.png);
    background-position: center;
    background-size: cover;
    padding: 20px; /* Add padding for content spacing */
    box-sizing: border-box; /* Ensure padding is included in the width */
    margin-top: 30px;
    margin-left: -600px;
    border-radius: 67px;
    padding-top: 30px;
}

.card2{
    width: 390px;
    height: 230px;
    background-image: url(assets/Screenshot\ 2023-10-04\ 111208-benzin-preview.png);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-top: -400px;
    margin-left: 800px;

}

.card3{
    width: 390px;
    height: 230px;
   background-image: url(assets/Screenshot\ 2023-10-04\ 111347-benzin-preview.png);
   background-position: center;
   background-size: cover;
   background-color: transparent;
   border: none;

}

.track{
    width: 482px;
    height: 640px;
    flex-shrink: 0;
    border-radius: 69px;
    background: #414D66;
    margin-top: 600px;
}




